 body{
    margin: 0;
    padding: 0;
    background-image: url(img/Wallpaper.jpg);
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}

.img{
    border-radius: 50%;
    width: 170px;
    height: 170px;
    box-shadow: 15px 14px 20px black;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 460px;
    padding: 40px;
    margin-top: 5%;
    background: rgba(0,0,0,0.4);
    margin: auto;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 15px 14px 20px black;
}

.box h1{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    color: black;
}

.box h5{
    text-align: center;
    letter-spacing: 1px;
}

.box h2{
    font-size: 22px;
    padding: 10px;
}

ul{
   margin: 0;
   padding: 0;
}

.box ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
}

.box li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    outline: none;
    font-size: 40px;
    transition: 0.9s;
}

.box a:hover{
    box-shadow: 2px 5px 10px black;
}
